fastapi
python-multipart
pydantic[email]
uvicorn[standard]
mongoengine
pylint-mongoengine
blinker
pymongo
feedparser
python-dotenv
passlib[bcrypt]
python-jose[cryptography]

# Testing dependencies
pytest
mongomock